body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: $black;
  border-left: 2px solid $primary-color;
  border-right: 2px solid $secondary-color;
}

/* 
  Larger than phablet (also point when grid becomes active) 

  There is currently not enough text on the home page to get 
  the border all the way to the bottom and 100% html height 
  looks wonky on when scrolling.  So just turn them off for 
  larger screens.
*/
@media (min-width: 550px) {
  body {
    border-left: none;
    border-right: none;
  }
}


blockquote {
  color: $gray;
  border-left: 4px solid $primary-color;
  padding-left: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oxygen", sans-serif;
}

h3 {
  font-style: italic;
}

h3 a {
  font-style: normal;
}

code {
  font-family: "Inconsolata", monospace;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $primary-color-darker;
  text-decoration: underline;
}

a:active {
  color: $primary-color-darker;
  text-decoration: underline;
}

::selection {
  background: $secondary-color;
}

.gray {
  color: $gray;
}

ol, ul {
  display: block;
  padding-left: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;

  li {
    margin-bottom: 0rem;
  }
} 

ul {
  list-style: disc outside;
}