body {
  font-family: "Raleway", sans-serif;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oxygen", sans-serif;
}

code {
  font-family: "Inconsolata", monospace;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $primary-color-darker;
  text-decoration: underline;
}

a:active {
  color: $primary-color-darker;
  text-decoration: underline;
}

::selection {
  background: $secondary-color;
}
