$black: #222;
$gray: #7e7e7e;

$primary-color: #E47320;
$primary-color-darker: #B6550D;
$primary-color-transparent: rgba(214, 103, 24, 0.05);

$secondary-color: #ecd6e6;
$secondary-color-darker: #baa5b4;
$secondary-color-dark: #BE76AA;
$secondary-color-robust: #BD74A8;
$secondary-color-transparent: rgba(236,214,230,0.25);
