---
layout: default
title: Apps
---

<div class="apps-page">
    <h1>Apps and other fun stuff</h1>

    <p>I like making stuff! Here, you can find a listing of some apps and other fun things that I've made. For a whole
        lot more,
        check
        out my <a class="nav_link" href="https://github.com/{{ site.author.github | cgi_escape | escape }}"
            title="Check out my projects on GitHub">
            GitHub
        </a>.</p>

    {% for app in site.apps %}
    <h3 class="post-link">
        <a href="{{ app.url | relative_url }}" title="{{ app.title | escape }}">
            {{ app.title | escape }}
        </a>
    </h3>

    {% if app.description %}
    <p>{{ app.description }}</p>
    {% endif %}

    {% endfor %}
</div>