---
---

@import "fonts";
@import "syntax_highlighting";
@import "normalize";
@import "skeleton";
@import "colors";
@import "base";
@import "bio";
@import "post";

.container {
  margin-top: 5%;
  max-width: 700px;
}


.no-bullets {
  list-style-type: none;
}

.site-header {
  margin-bottom: 1.5rem;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a {
    display: block;
  }
}

.nav_item--left {
  float: left;
  // between item padding
  padding-right: 20px;
  text-align: left;
}
.nav_item--right {
  float: right;
  padding-left: 20px;
  text-align: right;
}