---
---

@import "fonts";
@import "syntax_highlighting";
@import "normalize";
@import "skeleton";
@import "colors";
@import "base";
@import "bio";
@import "post";

.container {
  margin-top: 5%;
  max-width: 700px;
}


.no-bullets {
  list-style-type: none;
}

.site-header {
  margin-bottom: 1.5rem;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a {
    display: block;
  }
}

.nav_item--left {
  float: left;
  // between item padding
  padding-right: 20px;
  text-align: left;
}
.nav_item--right {
  float: right;
  padding-left: 20px;
  text-align: right;
}

.figure {
    display: inline-block;

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;

    text-align: center;
}

.figure--center {
  width: 100%;
}

.figure figcaption {
  font-style: italic;
  color: $gray;
}

.figure img {
  max-width: 100%;
}

.highlight pre {
  background-color: $secondary-color-transparent;
  border: 1px solid $secondary-color;
  border-radius: 4px;
}

.highlighter-rouge {
  color: $secondary-color-dark;
  border: 1px solid $secondary-color;
  border-radius: 4px;
}

blockquote {
  color: $gray;
  border-left: 4px solid $primary-color;
  padding-left: 1em;
}

h3 a {
  font-style: normal;
}