---
layout: default
---
<article>
    <header>
        <h1 class="post-title">{{ page.title | escape }}</h1>

        <p class="post-date">
            <time>
                {{ page.date | date: "%b %e, %Y" }}
            </time>
	    {% if page.last_updated %}
	    | Updated:
	    <time>
	      {{ page.last_updated | date: "%b %e, %Y" }}
	    </time>
	    {% endif %}
        </p>

        {% if page.author %}
        {% include bio.html author=page.author %}
        {% endif %}
    </header>

    <div>
        {{ content }}
    </div>

    <div>
        <hr width="10%">

        {% include call_to_action.html %}

        <a href="/">← Go back</a>
    </div>

</article>
